[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/umm4c/llama.cpp.git
	branch = master
[submodule "third_party/stable-diffusion.cpp"]
	path = third_party/stable-diffusion.cpp
	url = https://github.com/umm4c/stable-diffusion.cpp.git
	branch = master
